
/* Some Comment */

.Chat {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
    border-left: 1px solid var(--main-border-color);
    overflow: hidden;
}

.Chat-Wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

/*    .Chat-Wrapper::-webkit-scrollbar {
        width: 10px;
        background: #eee;
        display: block;
    }

    .Chat-Wrapper::-webkit-scrollbar-thumb {
        background: #ccc;
    }*/

.Chat-Header {
    height: auto;
    width: 100%;
    display: flex;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(100px) saturate(20%);
    border-bottom: 1px solid var(--main-border-color);
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07); */
    z-index: 999999;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
}

    .Chat-Header[id="active"] {
        opacity: 1;
    }

.Chat-Header-MinDesc {

    display: flex;
    align-items: center;

}

.Header-Options {

    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;

}

.Header-Options img {

    height: 25px;
    padding: 10px;
    border-radius: 100%;
    transition: 0.15s ease;

}

.Header-Options img:hover {

    cursor: pointer;
    background: #eee;

}

.Chat-Header-MinDesc img {

    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-left: 15px;
    border-radius: 100%;

}

.Chat-Header-MinDesc h1 {

    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black;
    margin-left: 15px;

}

.Chat-Content {

    display: flex;
    flex-direction: column;
    grid-gap: 3px;
    height: auto;
    width: auto;

}

.Chat-Input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease;
}

    .Chat-Input[id="active"] {
        opacity: 1;
    }

.Reply {
    padding-left: 30px;
    margin-bottom: 15px;
    display: none;
    padding-top: 15px;
    border-top: 1px solid var(--main-border-color);
}

.Reply-Content {
    display: flex;
    flex-direction: column;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Reply-Message-Header {

    margin-left: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    display: flex;
    display: flex;
    border: none;
    width: fit-content;
    cursor: pointer;


}

.Reply-Message-Header-Left {
    height: calc(100% - 10px);
    width: 15px;
    margin-top: 10px;
    border-left: 3px solid #eee;
    border-top: 3px solid #eee;
    border-radius: 15px 0px 0px 0px;
}

.Reply-Message-Header-Right {

    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.Reply-Message-Header-Sender {

    font-weight: 500;
    font-size: 16px;
    color: black;

}

.Reply-Message-Header-Message {
    font-size: 15px;
    color: #aaa;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Reply-Header-Message-Top {

    display: flex;
    align-items: center;

}

    .Reply-Header-Message-Top span {
        font-weight: 700;
        font-size: 16px;
        color: black;
    }

.GoTo {
    height: 7px;
    width: 7px;
    object-fit: contain;
    margin-left: 7px;
}

.close-reply {
    height: 15px;
    width: 15px;
    padding: 7px;
    image-rendering: pixelated;
    filter: invert(0%);
    margin-left: auto;
    margin-right: 30px;
    transition: 0.25s ease;
    border-radius: 100%;

}

.close-reply:hover {

    cursor: pointer;
    background: #eee;

}

.Reply[id="active"] {
    display: flex;
}

    .Reply span {
        font-size: 14px;
        color: #000;
    }

    .Reply p {
        font-size: 14px;
        margin: 0;
        color: #aaa;
    }

.sender-name {

    font-weight: 600;

}

.Chat-Input form {

    width: 100%;
    display: flex;

}

.chat-entry-field {

    height: auto;
    width: 100%;
    display: flex;
    margin-left: 15px;
    margin-right: 0;
    padding-left: 5px;
    border-radius: 27px;
    overflow: hidden;
    align-items: flex-end;
    margin-bottom: 10px;
    background: var(--main-accent-color);
    border: 1px solid var(--main-border-color);
    transition: 0.25s ease;

}

#message-text {
    height: auto;
    width: 100%;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 12px;
    color: #000;
    outline: none;
    resize: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: none;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 13px;
    margin-left: 10px;
}

#message-text[placeholder]:empty:before {
    content: attr(placeholder);
    color: #bbb;
  }

#message-text::-webkit-scrollbar {

    display: none;

}

#placeholder {

    color: #bbb;
    -webkit-user-select: none; /* Для Chrome, Safari, Opera */
    -khtml-user-select: none; /* Для Konqueror */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для Internet Explorer, Edge */
    user-select: none; /* Стандартное свойство */

}

.chat-entry-field-button {

    height: 19px;
    width: auto;
    display: flex;
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
    align-items: center;
    background: transparent;
    border-radius: 100%;
    background: #eee;
    transition: 0.25s ease;

}

.chat-entry-field-button[id="right"] {

    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
    background: none;

}

.chat-entry-field-button[id="right"] img {

    height: 23px;
    width: 23px;
    object-fit: contain;

}

.chat-entry-field-button:hover {

    cursor: pointer;

}

.chat-entry-field-button img {

    height: 22px;
    width: 22px;
    object-fit: cover;

}

.Chat-Input input[type="submit"] {

    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;

}

.Chat-Input input::placeholder {

    color: #888;

}

.button {
    height: 45px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-accent-color);
    /* padding: 0% 15px 0% 15px; */
    margin: auto 15px 15px 15px;
    position: relative;
    border-radius: 30px;
    border: 1px solid var(--main-border-color);
}

.button img {

    filter: invert(0%);
    height: 25px;

}

.chat-typing-notification {

    color: black;
    display: flex;
    height: 0px;
    font-size: 16px;
    padding-left: 30px;
    padding-top: auto;
    padding-bottom: auto;
    align-items: center;
    overflow: hidden;
    grid-gap: 5px;
    opacity: 0;
    transition: 0.3s ease;

}

.chat-typing-notification[id="active"] {

    height: 50px;
    opacity: 1;

}

.typing-point {

    height: 4px;
    width: 4px;
    background: #eee;
    margin-top: 13px;
    border-radius: 100%;
    margin-bottom: 5px;

}

#p-1 {

    animation: point-animation 0.9s ease 0s infinite;

}

#p-2 {

    animation: point-animation 0.9s ease 0.525s infinite;

}

#p-3 {

    animation: point-animation 0.9s ease 0.65s infinite;

}

@keyframes point-animation {
    
    0% {

        margin-bottom: 5px;
        background: #eee;

    }

    50% {

        margin-bottom: 15px;
        background: #333;
        background: rgb(65, 173, 255);

    }

    100% {

        margin-bottom: 5px;
        background: #eee;

    }

}