@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Exider — Home Page</title>

<link rel="icon" href="Images/Icons/logo_3.png">
<link rel="stylesheet" href="css/home/home-feed.css">

<div class="main-content-header">

    <div class="main-content-header-top">
        <div class="main-content-header-button">
            <img src="Images/Home/back.png" alt="back">
        </div>
        <div class="main-content-header-button">
            <img src="Images/Home/next.png" alt="next">
        </div>
        <div class="main-content-header-search">
            <img src="Images/Home/search.png">
            <input type="text" placeholder="Search generations, peoples, themes" autocomplete="off">
        </div>
        <div class="main-content-header-button-wrapper">
            <div class="main-content-header-button-right">
                <img src="Images/Home/setting.png" class="main-content-header-button-image">
            </div>
            <div class="main-content-header-button-right" id="notification">
                <img src="Images/Home/notification.png" class="main-content-header-button-image" id="notification">
            </div>
        </div>
        <div class="header-avatar">

            @if (ViewBag.currentUser != null && ViewBag.currentUser.Avatar != null)
            {
                <img src="data:image/png;base64,@(Convert.ToBase64String(ViewBag.currentUser.Avatar))" class="main-content-header-avatar">
            }

        </div>

    </div>

    <div class="main-content-header-navigation">
        <span id="active">Feed</span>
        <span>Themes</span>
        <span>Images</span>
        <span>Videos</span>
        <span>Peoples</span>
    </div>

</div>
<div class="main-content">

    @foreach(byte[] file in ViewBag.files)
    {

        <div class="item">
            <img src="data:image/png;base64,@Convert.ToBase64String(file)" alt="Image 1">
            <div class="content">
                <h3 class="title">Image</h3>
                <p class="description">Description for Image</p>
            </div>
        </div>
        
    }

</div>
<script>
    const textarea = document.querySelector('textarea');
    textarea.addEventListener('input', () => {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
    });
</script>
<script src="js/home/global-header-pop-up-window.js"></script>
<script src="js/home/home-header-pop-up-window.js"></script>
<script src="js/home/home-local.js"></script>