<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Exider — Home Page</title>
    <link rel="stylesheet" href="~/css/mobile/global/global-style-mobile.css">
    <link rel="stylesheet" href="~/css/mobile/global/add-button.css">
    <link rel="stylesheet" href="~/css/mobile/explore/explore-local.css">
    <link rel="stylesheet" href="~/css/mobile/explore/explore-content.css">
</head>

@{
    Layout = null;
}

<body>
    <div class="body-wrapper">
        <div class="body-header">
            <div>
                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Avatar))" class="user-avatar">
            </div>
            <img src="~/Images/Logo/zixe_logo.svg" class="logo">
        </div>
        <div class="body-content">
            <div class="search-wrapper">
                <div class="search">
                    <img src="Images/buttons-mobile/search-passive.svg" class="search-image">
                    <input type="text" name="" class="search-input" placeholder="Generations, photos">
                </div>
            </div>
            <div class="content-wrapper">
                <div class="body-content-block">
                    <span>Themes</span>
                    <div class="body-scroll-bar">
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                    </div>
                </div>
                <div class="body-content-block">
                    <span>People</span>
                    <div class="body-scroll-bar">
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                    </div>
                </div>
                <div class="body-content-block">
                    <span>Trending</span>
                    <div class="body-scroll-bar">
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                    </div>
                </div>
                <div class="body-content-block">
                    <span>Files</span>
                    <div class="body-scroll-bar">
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                    </div>
                </div>
                <div class="body-content-block">
                    <span>Gallery</span>
                    <div class="body-scroll-bar">
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/7.jpg">
                        </div>
                        <div class="body-category">
                            <img src="Images/Test-Content/3.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-button">
        </div>
        <div class="body-navigation-panel">
            <img src="Images/buttons-mobile/home-passive.png" class="navigation-button" id="home" onclick="window.location.href = '/home'">
            <img src="Images/buttons-mobile/search-active.svg" class="navigation-button" id="search" onclick="window.location.href = '/explore'">
            <img src="Images/buttons-mobile/add-passive.svg" class="navigation-button" id="add">
            <img src="Images/buttons-mobile/cloud-passive.svg" class="navigation-button" id="cloud" onclick="window.location.href = '/files'">
            <img src="Images/buttons-mobile/chats-passive.svg" class="navigation-button" id="chats" onclick="window.location.href = '/chats'">
        </div>
    </div>
    <script>
        window.addEventListener('click', (event) => {

            if (event.target.id != 'add' && event.target.className != 'add-button') {

                document.querySelector('.add-button')
                    .id = 'passive';

            }

        });
        document.querySelector('#add').addEventListener('click', () => {

            document.querySelector('.add-button')
                .id = 'active';

        });
    </script>
</body>
</html>